<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- <h1>Appa</h1> -->
		<ul class="nav navbar-nav nav-tabs pull-right">
			<li><%= link_to "Home", root_path %></li>
			<% if signed_in? %>
			<li>
				<%= link_to "Profile", "#" %>
			</li>
			<li>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			</li>
			<% else %>
			<li>
				<%= link_to "Sign in", new_user_session_path %>
			</li>
			<% end %>
		</ul>
	</div>
</nav>

